{% extends "myrestaurants/base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}

    <form id="input-form" method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
            <a class="btn btn-danger" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        </div>
    </form>

    <script src="{% static "js/autocomplete.js" %}"></script>

{% endblock %}