{% extends "myrestaurants/base.html" %}

{% block content %}

<h1>
    {{ restaurant.name }}
    {% if user == restaurant.user %}
        (<a href="{% url 'myrestaurants:restaurant_edit' restaurant.id %}">edit</a>)
    {% endif %}
</h1>

{% with restaurant.address as address %}
<h2>Address:</h2>
<p>
    {{ address.street }}, {{ address.number }} <br/>
    {{ address.zipcode }} {{ addres.city }} <br/>
    {{ address.stateOrProvince }} ({{ address.country }})
</p>
{% endwith %}

<h2>
    Dishes
    {% if user %}
        (<a href="{% url 'myrestaurants:dish_create' restaurant.id %}">add</a>)
    {% endif %}
</h2>
<ul>
    {% for dish in restaurant.dish_set.all %}
        <li><a href="{% url 'myrestaurants:dish_detail' restaurant.id dish.id %}">{{ dish.name }}</a></li>
    {% empty %}
        <li>Sorry, no dishes for this restaurant yet.</li>
    {% endfor %}
</ul>

{% endblock %}

{% block footer %}
    Created by {{ restaurant.user }} on {{ restaurant.date }}
{% endblock %}