[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.1.*"
behave = "==1.*"
behave-django = "==1.*"
selenium = "==4.8.2"
splinter = "==0.*"
Pillow = "==9.4.0"
gunicorn = "==20.*"
django-heroku = "==0.3.*"
psycopg2 = "==2.9.*"
urllib3 = "==1.26.*"
django-crispy-forms = "==1.*"

[dev-packages]

[requires]
python_version = "3.11"
