[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.*"
behave = "==1.*"
splinter = "==0.*"
Pillow = "==8.*"
gunicorn = "==20.*"
django-heroku = "==0.3.*"
psycopg2 = "==2.8.*"

[dev-packages]

[requires]
python_version = "3.7"
